<!DOCTYPE html>
<html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">


<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/static/js/bootstrap.js">



// Code:

/*

1: Admission Source
2: Insulin
3: Glyburide
4: Glipizide
5: Metformin
6: Discharge Disposition
7: HgA1C

*/
</script>
<script type="text/javascript">
    app.initialize();
</script>

<style type="text/css">
  .dropdown {
    width: 33%;
    padding-left: 11.3%;
    padding-bottom: 50px;
  }
</style>

<body style="background-color: antiquewhite;">

<h1 style="text-align: -moz-center;">HACKATHON</h1>

<br>
<br>
<br>

<form action="/results" method = "POST">

<div class="dropdown" id="param1">
  <div>
  	<button type="button" style="width: 200px"> Race </button>
  </div>
  <select style="width: 200px" name = "race">

  	<option disabled selected value> -- select an option -- </option>
    <option value="race_Caucasian">Caucasian</option>
    <option value="race_AfricanAmerican">African American</option>
    <option value="race_Other">Other</option>


  </select>
</div>

<div class="dropdown" id="param2">
  <div>
  	<button type="button" style="width: 200px"> Age </button>
  </div>
  <select style="width: 200px" name = "age">
    <option disabled selected value> -- select an option -- </option>
    <option value="age_[20-30)">20-30</option>
    <option value="age_[30-40)">30-40</option>
    <option value="age_[40-50)">40-50</option>
    <option value="age_[50-60)">50-60</option>
    <option value="age_[60-70)">60-70</option>
    <option value="age_[70-80)">70-80</option>
    <option value="age_[80-90)">80-90</option>
    <option value="age_[90-100)">90-100</option>

  </select>
</div>

<div class="dropdown" id="param3">
  <div>
  	<button type="button" style="width: 200px">
 Gender </button>
  </div>
  <select style="width: 200px" name = "gender">
    <option disabled selected value> -- select an option -- </option>
    <option value="gender_Male">Male</option>
    <option value="gender_Female">Female</option>
  </select>
</div>

<div class="dropdown" id="param4">
  <div>
  	<button type="button" style="width: 200px">
 Admission Type </button>
  </div>
  <select style="width: 200px" name="admission_type_id">

    <option disabled selected value> -- select an option -- </option>
    <option value="admission_type_id_1">Emergency</option>
    <option value="admission_type_id_2">Urgent</option>
    <option value="admission_type_id_3">Elective</option>
    <option value="admission_type_id_4">Unknown or N/A</option>
  </select>
</div>

<div class="dropdown" id="param5">
  <div>
  	<button type="button" style="width: 200px">
 Discharge Type </button>
  </div>
  <select style="width: 200px" name = "discharge_disposition_id">

    <option disabled selected value> -- select an option -- </option>
    <option value="discharge_disposition_id_1">Discharged to Home</option>
    <option value="discharge_disposition_id_2">Discharged Transfer</option>
    <option value="discharge_disposition_id_3">Unknown or N/A</option>
  </select>
</div>

<div class="dropdown" id="param6">
  <div>
  	<button type="button" style="width: 200px">
 Admission Source ID </button>
  </div>
  <select style="width: 200px" name = "admission_source_id">

    <option disabled selected value> -- select an option -- </option>
    <option value="admission_source_id_1">Referral</option>
    <option value="admission_source_id_2">Transfer</option>
    <option value="admission_source_id_3">Emergency Room</option>
    <option value="admission_source_id_4">Unknown</option>
  </select>
</div>

<div class="dropdown" id="param7">
  <div>
  	<button type="button" style="width: 200px">
 Days in Hospital</button>
  </div>
  <select style="width: 200px" name = "time_in_hospital">

    <option disabled selected value> -- select an option -- </option>
    <option value="time_in_hospital_1">1-2</option>
    <option value="time_in_hospital_2">3-4</option>
    <option value="time_in_hospital_3">5-14</option>
  </select>
</div>

<div class="dropdown" id="param8">
  <div>
  	<button type="button" style="width: 200px">
 HgA1C </button>
  </div>
  <select style="width: 200px" name = "A1Cresult">

    <option disabled selected value> -- select an option -- </option>
    <option value="A1Cresult_None">None</option>
    <option value="A1Cresult_Norm">Norm</option>
    <option value="A1Cresult_>7">7-8</option>
    <option value="A1Cresult_>8">>8</option>

  </select>
</div>

<div class="dropdown" id="param9">
  <div>
  	<button type="button" style="width: 200px">
 Insulin </button>
  </div>
  <select style="width: 200px"  name = "insulin">

    <option disabled selected value> -- select an option -- </option>
    <option value="insulin_No">No</option>
    <option value="insulin_Up">Up</option>
    <option value="insulin_Steady">Steady</option>
    <option value="insulin_Down">Down</option>
  </select>
</div>

<div class="dropdown" id="param10">
  <div>
  	<button type="button" style="width: 200px">
 Glyburide </button>
  </div>
  <select style="width: 200px" name = "glyburide">

    <option disabled selected value> -- select an option -- </option>
    <option value="glyburide_No">No</option>
    <option value="glyburide_Up">Up</option>
    <option value="glyburide_Steady">Steady</option>
    <option value="glyburide_Down">Down</option>
  </select>
</div>

<div class="dropdown" id="param11">
  <div>
  	<button type="button" style="width: 200px">
 Glipizide </button>
  </div>
  <select style="width: 200px" name = "glipizide">

    <option disabled selected value> -- select an option -- </option>
    <option value="glipizide_No">No</option>
    <option value="glipizide_Up">Up</option>
    <option value="glipizide_Steady">Steady</option>
    <option value="glipizide_Down">Down</option>
  </select>
</div>

<div class="dropdown" id="param12">
  <div>
  	<button type="button" style="width: 200px">
 Metformin </button>
  </div>
  <select style="width: 200px" name = "metformin">

    <option disabled selected value> -- select an option -- </option>
    <option value="metformin_No">No</option>
    <option value="metformin_Up">Up</option>
    <option value="metformin_Steady">Steady</option>
    <option value="metformin_Down">Down</option>
  </select>
</div>

<div class="dropdown" id="param13">
  <div>
  	<button type="button" style="width: 200px">
 Medication Change </button>
  </div>
  <select style="width: 200px" name = "change">

    <option disabled selected value> -- select an option -- </option>
    <option value="change_0">0</option>
    <option value="change_1">1</option>
  </select>
</div>

<div class="dropdown" id="param14">
  <div>
  	<button type="button" style="width: 200px">
 Given Medication? </button>
  </div>
  <select style="width: 200px" name ="diabetesMed">

    <option disabled selected value> -- select an option -- </option>
    <option value="diabetesMed_0">0</option>
    <option value="diabetesMed_1">1</option>
  </select>
</div>




<div class="dropdown" id="param15">
  <div>
  	<button type="button" style="width: 200px">
 Primary diagnosis </button>
  </div>
  <select style="width: 200px" name = "diag_1">

    <option disabled selected value> -- select an option -- </option>
    <option value="diag_1_1">1</option>
    <option value="diag_1_2">2</option>
    <option value="diag_1_3">3</option>
  </select>
</div>

<br>
<br>

<div id="param16">
  <input type="submit" value="Submit" style="background-color: aquamarine; width:30%; margin-left:35%;">
</div>

</form>
</body>
</html>
